[submodule "vendors/shadowhand/purifier"]
	path = vendors/shadowhand/purifier
	url = git://github.com/shadowhand/purifier.git
[submodule "vendors/shadowhand/pagination"]
	path = vendors/shadowhand/pagination
	url = git://github.com/shadowhand/pagination.git
[submodule "vendors/mixu/useradmin"]
	path = vendors/mixu/useradmin
	url = git://github.com/mixu/useradmin.git
[submodule "vendors/kohana/kohana"]
	path = vendors/kohana/kohana
	url = git://github.com/kohana/kohana.git
