[submodule "vendors/shadowhand/purifier"]
	path = vendors/shadowhand/purifier
	url = git://github.com/shadowhand/purifier.git
[submodule "vendors/shadowhand/pagination"]
	path = vendors/shadowhand/pagination
	url = git://github.com/shadowhand/pagination.git
