<?php defined('SYSPATH') or die('No direct script access.');

return array(
   'app_id'          => '181428915249322',
   'api_key'         => '',
   'secret'          => 'ee9e5555ca9774c1a6356aaac6580e95',
);
